<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/q4/add_new" method="post">
        <div>
            <input type="text" name="name" placeholder="Enter your name">
        </div>
        <div>
            <input type="email" name="email" placeholder="Enter your email">
        </div>
        <div>
            <input type="number" name="salary" placeholder="Enter base salary amount">
        </div>
        <div>
            <input type="number" name="bonus" placeholder="Enter bonus(%)">
        </div>
        <div>
            <input type="number" name="deduction" placeholder="Enter deduction(%)">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>